[submodule "GIFTs"]
	path = GIFTs
	url = https://github.com/mgoberfield/GIFTs.git
[submodule "data/iwxxm-translation"]
	path = data/iwxxm-translation
	url = https://github.com/wmo-im/iwxxm-translation.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/joseph-c-mcguire/Metartoiwxxmfrontend.git
[submodule "schemas/iwxxm"]
	path = schemas/iwxxm
	url = https://github.com/wmo-im/iwxxm.git
[submodule "schemas/iwxxm-codelists"]
	path = schemas/iwxxm-codelists
	url = https://github.com/wmo-im/iwxxm-codelists.git
[submodule "schemas/iwxxm-modelling"]
	path = schemas/iwxxm-modelling
	url = https://github.com/wmo-im/iwxxm-modelling.git
